* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #606c38;
    color: #283618;
}

#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: .4em;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#content-wrapper {
    border: 10px solid #fefae0;
    padding: 5em 6em;
}

form {
    padding: 2em 0 1em 0;
    text-align: end;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: monospace;
}

input {
    background-color: #fefae0;
    border: 0;
    margin: 1em;
    padding: 3px;
}

::placeholder {
    letter-spacing: 1px;    
}